@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color-scheme: inherit;
    font-family: "Poppins";
}

.material-symbols-outlined {
    font-variation-settings:'FILL' 0,'wght' 200,'GRAD' 0,'opsz' 24, }

   #menu{
      display: none;
  }
.menu{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
}
a span:nth-child(1){
    font-size: 40px;
    margin-top: -10px;
}
button span:nth-child(1){
    font-size: 22px;
    margin-left: 10px;
    margin-top: 2px;
}
.btn{
    background:  #ff523b;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
}


nav ul{
  flex: 1;
  text-align: right;

}
nav ul li{
    display: inline-block;
    padding-right: 20px;
    color: #333;
    font-size: 17px;
    
}
.img{
    margin-top: -10px;
}
.logos{
    width: 150px;
}

nav{
    display: flex;
    margin-top: -30px;
}
.navbar{
    background: radial-gradient(#fff, #ffd6d6);
}
h1{
    font-size: 55px;
}
.workout{
    display: flex;
    justify-content:center;
    gap: 70px;
    

    
}
.para1{
    padding-top: 100px;

}
.para2{
    margin-top: -20px;
}
.container{
    margin-top: 200px;
    
}
.pa{
    color: #333;
    font-size: 20px;
    padding-top: 20px;
}
